{% extends 'layout.html' %}

{% block title %}
Інтеграл
{% endblock %}

{% block body %}
<div class="container mt-2 pl-5 pr-5 pt-3">
    <div class="row">
        <div class="col-8 p-0">
            <div class="bg-light h-100 mr-3 border border-dark p-4 pt-5">
                <h3>Введіть елементи матриці</h3>
                <br>
                <form action="" method="post">
                    {{form.a00()}}
                    {{form.a01()}}
                    {{form.a02()}}
                    <br>
                    {{form.a10()}}
                    {{form.a11()}}
                    {{form.a12()}}
                    <br>
                    {{form.a20()}}
                    {{form.a21()}}
                    {{form.a22()}}
                    <br><br>
                    {{form.submit()}}
                </form>
            </div>
        </div>
        <div class="col-4 bg-light p-5  border border-dark">
                <img src="./../static/Матриця.png" width="100%" alt="">
        </div>
    </div>
    <div class="row bg-light mt-3  border border-dark p-5">
        <h1>Результат: {{result}}</h1>
    </div>
</div>
{% endblock %}